Repository TeamKioskProject/team_kiosk, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, bug, enhancement

chore : 자동 라벨링 기능 추가
  .github/workflows/labeler.yml
  .github/workflows/pr-title-labeler.yml
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/✨-feature-request.md
  .github/ISSUE_TEMPLATE/🐞-bug-report.md
Labels: none

Update ✨-feature-request.md
  .github/ISSUE_TEMPLATE/✨-feature-request.md
Labels: none

feat : StarBucks 디저트 메뉴 mock 데이터 json파일 생성
  lib/data/data/starbucks_desserts.json
  lib/data/data/starbucks_drinks_trimmed.json
Labels: frontend

feat : 스타벅스 디저트 목데이터 생성
  lib/data/data/starbucks_desserts.json
Labels: frontend

Update 🐞-bug-report.md
  .github/ISSUE_TEMPLATE/🐞-bug-report.md
Labels: none

chore : mockdata 오류 삭제
  lib/data/data/starbucks_drinks_trimmed.json
  test/widget_test.dart
Labels: frontend

test : file 로직 테스트
  lib/domain/repository/hamburger_order_repository_impl.dart
Labels: frontend

feat : starbucks_drinkts_trimmed에 price int형으로 추가
  lib/data/data/starbucks_drinks_trimmed.json
Labels: frontend

feat : 앱 색상 테마 추가
  lib/core/constants/app_colors.dart
  lib/core/constants/app_texts.dart
  lib/domain/cafe/cafe_menu_model.dart
  lib/domain/hamburger/hamburger_menu_model.dart
  pubspec.yaml
Labels: frontend

feat : 상태관리 riverpod 추가 & appState 공용 스테이트 반영
  lib/core/state/app_mode.dart
  lib/core/state/app_state.dart
  lib/core/state/app_state_notifier.dart
  lib/core/state/app_state_provider.dart
  pubspec.yaml
Labels: frontend

fix : AppStateNotifier error 수정
  lib/core/state/app_state_notifier.dart
Labels: frontend

chore : 햄버거 파트 mock data 추가
  lib/data/data/burger_mock_data.json
  lib/data/data/dessert_mock_data.json
  lib/data/data/drink_mock_data.json
  lib/data/data/side_mock_data.json
Labels: frontend

feat : 깃허브 액션 수정
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/flutter_test.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-title-labeler.yml
  lib/core/service/connectivity_service.dart
  lib/core/service/storage_service.dart
  lib/core/service/vibrate_service.dart
  lib/core/theme/app_theme.dart
  lib/core/widgets/cart_item.dart
  lib/core/widgets/custom_dialog.dart
  lib/core/widgets/option_toggle.dart
  lib/core/widgets/payment_method_selector.dart
  lib/core/widgets/primary_button.dart
  lib/core/widgets/rounded_card.dart
  lib/gen/assets.gen.dart
  lib/gen/l10n/app_en.arb
  lib/gen/l10n/app_ko.arb
  lib/main.dart
Labels: frontend, bug, enhancement

feat : 구조 테스트 페이지 작업 시작
  lib/demo_test/demo_test_color_screen.dart
  lib/demo_test/demo_test_screen.dart
  lib/demo_test/router.dart
  lib/main.dart
  pubspec.yaml
Labels: frontend

test : test 데모 코드 작성
  lib/core/constants/app_colors.dart
  lib/core/constants/app_texts.dart
  lib/core/state/app_mode.dart
  lib/demo_test/app_scaffold.dart
  lib/demo_test/demo_test_screen.dart
  lib/demo_test/router.dart
  lib/main.dart
  pubspec.yaml
Labels: frontend

feat : 기본 설정
  lib/core/constants/app_colors.dart
  lib/demo_test/demo_test_color_screen.dart
  lib/demo_test/demo_test_screen.dart
  lib/demo_test/router.dart
Labels: frontend

fix : 콜론 수정
  lib/main.dart
Labels: frontend

feat : theme & router 기초 세팅
  lib/app_scaffold.dart
  lib/core/constants/theme_provider.dart
  lib/core/router/router.dart
  lib/core/widgets/payment/mock_data.dart
  lib/core/widgets/payment/order_summary_box.dart
  lib/demo_test/app_scaffold.dart
  lib/home_screen.dart
  lib/main.dart
Labels: frontend

feat : KisokButton 생성
  assets/icons/chat_bubble.png
  lib/core/component/kiosk_button.dart
  lib/core/constants/box_styles.dart
  lib/home_screen.dart
  pubspec.yaml
Labels: frontend

feat : category card 컴포넌트 생성
  assets/icons/coffee.png
  assets/icons/hamburger.png
  assets/images/hamburger.png
  lib/core/constants/box_styles.dart
  lib/core/widgets/kiosk/category_card.dart
  lib/core/widgets/kiosk/kiosk_button.dart
  lib/home_screen.dart
  pubspec.yaml
Labels: frontend

feat : order_summary_box 완성
  lib/core/widgets/payment/order_summary_box.dart
  lib/core/widgets/payment/payment_method_tile.dart
Labels: frontend

feat : DialogButton 완성
  lib/core/widgets/payment/dialog_action_button.dart
  lib/core/widgets/payment/dialog_cancel_button.dart
Labels: frontend

feat : Update flutter_test.yml
  .github/workflows/flutter_test.yml
Labels: none

feat : selectable_tile 컴포넌트 추가
  assets/images/inside.png
  assets/images/take.png
  lib/core/widgets/kiosk/kiosk_button.dart
  lib/core/widgets/kiosk/selectable_tile.dart
  lib/home_screen.dart
Labels: frontend

chore : 주석 처리 제거
  .github/workflows/flutter_test.yml
  lib/core/widgets/payment/order_summary_box.dart
Labels: frontend

Update flutter_test.yml
  .github/workflows/flutter_test.yml
Labels: none

Update flutter_test.yml
  .github/workflows/flutter_test.yml
Labels: none

chore : const 추가 및 안쓰는 import제거
  lib/app_scaffold.dart
  lib/core/constants/app_texts.dart
  lib/core/router/router.dart
  lib/core/widgets/kiosk/kiosk_button.dart
Labels: frontend

feat : kiosk app bar를 공통 컴포넌트로 제작
  lib/core/widgets/kiosk/category_card.dart
  lib/core/widgets/kiosk/kiosk_app_bar.dart
  lib/core/widgets/kiosk/selectable_tile.dart
Labels: frontend

feat : StepProgressBar 컴포넌트 생성
  lib/core/widgets/kiosk/step_progress_bar.dart
Labels: frontend

feat : selectable_tile 컴포넌트 추가
  assets/images/inside.png
  assets/images/take.png
  lib/core/widgets/kiosk/kiosk_button.dart
  lib/core/widgets/kiosk/selectable_tile.dart
  lib/home_screen.dart
Labels: frontend

feat : category card 컴포넌트 생성
  assets/icons/coffee.png
  assets/icons/hamburger.png
  assets/images/hamburger.png
  lib/core/constants/box_styles.dart
  lib/core/widgets/kiosk/category_card.dart
  lib/core/widgets/kiosk/kiosk_button.dart
  lib/home_screen.dart
  pubspec.yaml
Labels: frontend

Update 🐞-bug-report.md
  .github/ISSUE_TEMPLATE/🐞-bug-report.md
Labels: none

feat : Update flutter_test.yml
  .github/workflows/flutter_test.yml
Labels: none

Update ✨-feature-request.md
  .github/ISSUE_TEMPLATE/✨-feature-request.md
Labels: none

Update flutter_test.yml
  .github/workflows/flutter_test.yml
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/✨-feature-request.md
  .github/ISSUE_TEMPLATE/🐞-bug-report.md
Labels: none

chore : const 추가 및 안쓰는 import제거
  lib/app_scaffold.dart
  lib/core/constants/app_texts.dart
  lib/core/router/router.dart
  lib/core/widgets/kiosk/kiosk_button.dart
Labels: frontend

test : CI/CD test
  .github/workflows/flutter_test.yml
Labels: none

.github/labeler.yml:

frontend:
  - "lib/**"

backend:
  - "server/**"

bug:
  - ".github/ISSUE_TEMPLATE/bug_report.md"

enhancement:
  - ".github/ISSUE_TEMPLATE/feature_request.md"
